
@{
    ViewData["Title"] = "Add";
}

<h1>Calculator</h1>

<div>
    <h3>result</h3>
    <h2>@ViewData["Add result"]</h2>
</div>
<div>

    <h2>@ViewData["mul result"]</h2> 
</div>
<div>

    <h2>@ViewData["div result"]</h2>
</div>
