@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to mvc</h1>
    
</div>
<form action="Home/DoLogin">
    <div>
        <div>
            <label for="txtUser">User Name:</label>
            <input type="text" name="txtUser" id="txtUser" required placeholder="Enter UserID" />
        </div>
        <div>
            <label for="txtpwd">Password:</label>
            <input type="password" name="txtpwd" id="txtpwd" required placeholder="Enter Password" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
</form>
<div>
    <a href="Home/SayHello?name=Durga">SayHello</a>
</div>
<div>
    @*x
    <a href="Home/Add?x=12&y=30">Add</a>
</div>
<div>
    <a href="Home/multiply?x=10&y=30">Multiply</a>
</div>
<div>
    <a href="Home/divide?x=90&y=30">Divide</a>
</div>
<div>
    <a href="Home/AddNewBook">Add new book</a>
</div>
<div>
    <a href="Home/ListAllBook">List book</a>
</div>
<div>
    <a href="Home/AddNewAuthor">Add author</a>
</div>
<div>
    <a href="Home/SaveNewAuthor">Save author</a>
</div>
<div>
    <a href="Home/ListAllAuthor">List author</a>
</div>
<div>
    <a href="Home/DeleteAuthor">Delete author</a>
</div>
<div>
    <a href="Home/EditAuthor">Edit author</a>
</div>
<div>
    <a href="Home/GetAuthor">Edit author</a>
</div><div>
    <a href="Home/EditAuthor">Edit author</a>
</div>*@

<div>
    <a href ="Author"> Author landing page</a>
</div>

    <div>
        <a href="Emp"> emp page</a>
    </div>
    <div>
        <a href="Movie"> Movie page</a>
    </div>
    