@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<div>
    <a asp-controller="Employee">Employee list</a>
</div>
<div>
    <a asp-controller="Order"> Order list</a>
</div>
<div>
    <a asp-controller="Customer"> Customer list</a>
</div>